* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}

html,body {
    height: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #222;
  font-family: "Microsoft YaHei";
}

s {
    font-style: normal;
    text-decoration: none;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

/*去掉type=number时的小箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.h100 {
    height: 100%;
}
.h50 {
    height: 50%;
}

.center {
    margin: 0 auto;
}

.hidden {
    display: none;
    visibility: hidden;
}

.align_center {
    text-align: center !important;
}

.cl {
    clear: left;
}

.cr {
    clear: right;
}

.cb {
    clear: both;
}

.relt {
    position: relative;
}
/*绝对定位*/
.abs {
    position: absolute !important;
}
/*绝对定位---水平居中*/
.absC {
  left:50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*绝对定位---垂直居中*/
.absV {
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*绝对定位---水平&垂直居中*/
.absCV {
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.invisible {
    visibility: hidden !important;
    display: none;
}

.visiable {
    visibility: visible !important;
}

.offline_gray {
    opacity: 0.4;
}

.overflow_auto{
    overflow: auto;
}
.overflow_hidden{
    overflow: hidden;
}
.transition0 {
    transition: height ease 0.2s;
}

.m0 {
    margin: 0 !important;
}

.p0 {
    padding: 0 !important;
}

dot {
    display: inline-block;
    height: 1em;
    line-height: 1;
    vertical-align: -.25em;
    overflow: hidden;
}

dot::before {
    display: block;
    content: '...\A..\A.';
    white-space: pre-wrap;
    animation: dot 3s infinite step-start both;
}

@keyframes dot {
    33% {
        transform: translateY(-2em);
    }
    66% {
        transform: translateY(-1em);
    }
}

/*左部可收起*/
.srcollbar::-webkit-scrollbar {
  width: 6px;
}

.srcollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.srcollbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #5379AA;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.srcollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5379AA;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

.srcollbar::-webkit-scrollbar-thumb:window-inactive {
  background: #3467AA;
}

/* 无滚动条 */
.no_scrollbar::-webkit-scrollbar {
    display: none;
}

/*布局样式*/
.layoutFlex {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/*左右布局样式---横向布局*/
.layoutFlexRow {
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.layoutFlexEnd {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.layoutFlexRow .layoutFlexRowItem {
  -webkit-box-flex: 0;
  -webkit-flex:  0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.layoutFlexRow .layoutFlexRowItemAuto {
  -webkit-box-flex: 1;
  -webkit-flex:  1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.layoutFlexRowWrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*左右布局样式---竖向布局*/
.layoutFlexColumn {
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.layoutFlexColumn .layoutFlexColumnItem,
.layoutFlexColumn .layoutFlexColumnItemAuto {

}

.layoutFlexColumn .layoutFlexColumnItem {
  -webkit-box-flex: 0;
  -webkit-flex:  0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.layoutFlexColumn .layoutFlexColumnItemAuto {
  -webkit-box-flex: 1;
  -webkit-flex:  1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*文本对齐方式*/
.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tj {
  text-align: justify;
}

.tb {
  font-weight: bold;
}

/*公用内边距*/
.pd {
  padding: 20px;
}

.pdt {
  padding-top: 20px;
}

.pdr {
  padding-right: 20px;
}

.pdb {
  padding-bottom: 20px;
}

.pdl {
  padding-left: 20px;
}

.pdh {
  padding: 10px;
}

.pdth {
  padding-top: 10px;
}

.pdrh {
  padding-right: 10px;
}

.pdbh {
  padding-bottom: 10px;
}

.pdlh {
  padding-left: 10px;
}


/*外内边距*/
.ma {
  margin: 20px;
}

.mat {
  margin-top: 20px;
}

.mar {
  margin-right: 20px;
}

.mab {
  margin-bottom: 20px;
}

.mal {
  margin-left: 20px;
}
.mah {
  margin: 10px;
}

.math {
  margin-top: 10px;
}

.marh {
  margin-right: 10px;
}

.mabh {
  margin-bottom: 10px;
}

.malh {
  margin-left: 10px;
}

/*宽高和父级一样*/
.fp {
  width: 100%!important;
  height: 100%!important;
}
/*高和父级一样*/
.fph {
  height: 100%!important;
}
/*宽和父级一样*/
.fpw {
  width: 100%!important;
}

/*超出隐藏*/
.unscroll {
  overflow: hidden;
}
/*超出滚动*/
.scroll {
  overflow: auto;
}

/*横向超出滚动*/
.scrollX {
  overflow-x: auto;
}

/*竖向超出滚动*/
.scrollY {
  overflow-y: auto;
}

/*块级元素*/
.bb {
  display: block;
}

/*行内块级元素*/
.ibb {
  display: inline-block;
}

/*超出省略*/
.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.textEllipsis2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.textEllipsis3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/*可点击的鼠标状态*/
.point {
  cursor: pointer;
}

/*浮动*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.cf {
  clear: both;
}

/*确认弹窗公用底部*/
.smallModalBottom {
  font-size: 0;
}
.smallModalBottom .cancelBtn,
.smallModalBottom .confirmBtn {
  margin: 0;
  width: 50%;
  border-radius: 0;
  line-height: 26px;
  font-size: 16px;
}

/* tab切换动画 */
/*slide-fade*/
.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  /*transition: all 0.2s cubic-bezier(1.0, 0.8, 0.8, 1.0);*/
  transition: all 0.2s linear;
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(5px);
  opacity: 0;
}

/*fade*/
.fade-enter-active ,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to
  /* .fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}

